<template>
  <div>
    <v-content>
      <section
        id="contact"
        class="py-5"
      >
        <v-container>
          <v-row>
            <v-col
              xs12
              md6
            >
              <v-form>
                <v-container pa-0>
                  <v-row>
                    <v-col
                      cols="12"
                      class="mb-4 grey--text"
                    >
                      Ingresa tus datos
                    </v-col>
                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-text-field
                        v-model="nombre"
                        outlined
                        label="Nombre*"
                      />
                    </v-col>

                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-text-field
                        v-model="apellido"
                        outlined
                        label="Apellido*"
                      />
                    </v-col>

                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-text-field
                        v-model="email"
                        outlined
                        label="Email*"
                      />
                    </v-col>

                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-text-field
                        v-model="celular"
                        label="Celular*"
                        outlined
                      />
                    </v-col>

                    <v-col cols="12">
                      <v-text-field
                        v-model="asunto"
                        label="Asunto"
                        outlined
                      />
                    </v-col>

                    <v-col cols="12">
                      <v-textarea
                        v-model="mensaje"
                        label="Mensaje"
                        outlined
                      />
                    </v-col>

                    <v-col cols="12">
                      <v-btn
                        :block="$vuetify.breakpoint.xsOnly"
                        color="primary"
                        dark
                        depressed
                        x-large
                        rel="nofollow"
                        :href="`https://api.whatsapp.com/send?phone=522226822869&text=%C2%A1Asunto: *${asunto}* Nombre: ${nombre}, ${apellido}. ${mensaje} Correo: ${email} Celular: ${celular}.`"
                      >
                        Enviar Mensaje
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-container
                fluid
                pa-0
              >
                <v-row>
                  <v-col
                    cols="12"
                    md="6"
                    class="pa-0"
                  >
                    <v-card-title>Ubicacion</v-card-title>
                    <v-card-text>
                      <div>Av 5 Ote 612</div>
                      <div>Centro 72000</div>
                      <div>Puebla, Pue</div>
                    </v-card-text>
                  </v-col>

                  <v-col
                    cols="12"
                    md="6"
                    class="pa-0"
                  >
                    <v-card-title>Informacion de contacto</v-card-title>
                    <v-card-text>
                      <div>+522226822869</div>
                      <div>
                        <a href="#" rel="nofollow">
                          jesus@lumit.mx
                        </a>
                      </div>
                    </v-card-text>
                  </v-col>

                  <v-col cols="12">
                    <div class="iframe-container">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15086.110219248847!2d-98.1949433!3d19.040529!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x95e88f116d594dcb!2sWork%C3%B3sfera%20Coworking%205%20de%20mayo!5e0!3m2!1sen!2smx!4v1582981845566!5m2!1sen!2smx"
                        width="600"
                        height="450"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""
                      />
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-row>
        </v-container>
      </section>
    </v-content>
  </div>
</template>

<script>
export default {
  data: () => ({
    nombre: '',
    apellido: '',
    email: '',
    celular: '',
    asunto: '',
    mensaje: '',

  }),
};
</script>

<style scoped>
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
