<template>
    <div>
        <v-content>
            <v-container>
                <client-only>
                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-text-field label="Título" outlined v-model="titulo"></v-text-field>
                            <v-text-field label="url de imagen preview" outlined v-model="img_url"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-textarea outlined name="input-7-4" label="Descripción preview" value="" v-model="preview_desc"></v-textarea>
                        </v-col>
                    </v-row>
                    <mavon-editor language="en" v-model="handbook" />
                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-btn @click="create_post">
                                Postear
                            </v-btn>
                        </v-col>
                    </v-row>
                </client-only>
            </v-container>
        </v-content>
    </div>
</template>

<script>
export default {
    data() {
        return {
            handbook: "",
            titulo: "",
            preview_desc: "",
            img_url: "",
            
        };
    },
    methods: {
        async create_post() {
            try {
                
                await this.$fireStore.collection("articulos").doc().set({
                    body: this.handbook,
                    fecha_de_creacion: "marzo-2020",
                    post_img: this.img_url,
                    preview_desc: this.preview_desc,
                    titulo: this.titulo,
                })
            } catch (e) {
            }
        }
    }

};
</script>

<style scoped>
.mavonEditor {
    width: 100%;
    height: 100%;
}
</style>