<template>
    <div>
        <v-content>
            <v-container>
                <v-row align="center" justify="center" responsive>
                    <v-col align="center" justify="center" responsive>
                        <h2 class="font-weight-bold">Análisis y optimización de SEO</h2>
                    </v-col>
                </v-row>
                <section id="services" class="py-5">
    
                    <v-container>
                        <v-row align="center" class="mb-5">
                            <v-col cols="12" md="4">
                                <v-card outlined>
                                    <v-img src="/project6.jpg" height="250" />
                                </v-card>
                            </v-col>
    
                            <v-col class="px-0" cols="12" md="8">
                                <v-card flat color="transparent">
                                    <v-card-title>Server Side Rendering</v-card-title>
    
                                    <v-card-text class="text-justify">
                                       Para tener más probabilidades de ser de los primeros resultados en Google, es recomendable que tu página utilice renderizado a petición de un servidor, así, los robots de google podrán leer más facilmente el html generado en tu sitio web.
                                       Nosotros te ayudamos e implementamos una solución que combina las ventajas del Server Side Rendering con el Client Side Rendering para que tu página sea lo más rápida posible. 
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
    
                        <v-row align="center" class="mb-5">
                            <v-col cols="12" md="4" order-md="2">
                                <v-card outlined>
                                    <v-img src="project4.jpg" height="250" />
                                </v-card>
                            </v-col>
    
                            <v-col class="px-0" cols="12" md="8">
                                <v-card color="transparent" flat>
                                    <v-card-title>Responsiva</v-card-title>
    
                                    <v-card-text class="text-justify">
                                        <p>
                                            Una página responsiva es aquella que esta construida para adaptarse a distintos tamaños de pantalla como el de un smart phone, una tablet o una smart tv, sin perder la estética.
                                        </p>
    
                                        <p>
                                           Nuestras soluciones implementan con calidad garantizada responsividad.
                                        </p>
    
                                        <p>
                                            El hecho de que la página se adapte estéticamente en todas sus secciones es clave para aumentar las probabilidades de tener una mejor poscición en los motores de búsqueda.
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
    
                        <v-row align="center" class="mb-5">
                            <v-col cols="12" md="4">
                                <v-card outlined>
                                    <v-img src="/project3.jpg" height="250" />
                                </v-card>
                            </v-col>
    
                            <v-col class="px-0" cols="12" md="8">
                                <v-card flat color="transparent">
                                    <v-card-title>Performance</v-card-title>                                                                                                                                                                                                                                                                                                   
    
                                    <v-card-text class="text-justify">
                                        <p>
                                            Utilizando la tecnología más reciente: Vuejs, hacemos páginas simples o complejas extremadamente rápidas.
                                        </p>
                                        <p>
                                            La velocidad de respuesta, ciertos atributos técnicos, el uso apropiado de las palabras clave y una buena compresión de imágenes son algunos de los aspectos más importantes para aumentar tu probabilidad de ser de los primeros resultados en google. 
                                            Nuestro director y su equipo de expertos te ayudarán a implementar las mejores prácticas para que tu imagen empresarial sea de excelencia.
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>

                    </v-container>
                </section>
            </v-container>
        </v-content>
    
    </div>
</template>

<script>
export default {
    head() {
        return{
        // eslint-disable-next-line no-useless-concat
        titleTemplate: '%s - ' + 'JTech',
        title: 'SEO',
        meta: [
            { charset: 'utf-8' },
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            { hid: 'description', content: 'Ofrecemos servicio de SEO en Puebla para optimizar la visibilidad de tu empresa en los motores de busqueda. Te ayudamos a conetar con aquellos que buscan lo que ofreces' },
            { property: 'og:title', content: 'SEO' },
            { property: 'og:description', content: 'Ofrecemos servicio de SEO en Puebla para optimizar la visibilidad de tu empresa en los motores de busqueda. Te ayudamos a conetar con aquellos que buscan lo que ofreces' },
            { property: 'og:url', content: 'https://www.jesuslb.com/seo' },
            { property: 'og:type', content: 'website' },
            { name: 'keywords', content: 'seo puebla, empresa de seo puebla, seo en puebla, experto en seo puebla, seo master puebla, seo mexico, seo en mexico, seo vuejs, seo con nuxt, seo con vue' },
            { name: 'geo.region', content: 'MX-PUE' },
            { name: 'geo.placename', content: 'Puebla' },
            { name: 'geo.position', content: '19.001559;-98.202893' },
            { name: 'ICBM', content: '19.001559, -98.202893' },
        ],
        link: [
            { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
        ],
        }
    },
}
</script>

<style lang="scss" scoped>

</style>