<template>
  <div>
    <v-app-bar
      v-scroll="onScroll"
      :dark="setTheme"
      app
      elevate-on-scroll
      :color="!isScrolling ? 'transparent' : ''"
    >
      <v-btn
        :height="breakpoint ? '120' : 'auto'"
        text
        color="transparent"
        nuxt
        to="/"
      >
        <v-img
          src="/logo_app.png"
          width="50"
        />
      </v-btn>
      <v-toolbar-title>
        JTech
      </v-toolbar-title>
      <v-spacer />
      <template v-if="breakpoint">
        <v-btn
          v-for="item in menu"
          :key="item.ruta"
          text
          nuxt
          :to="item.ruta"
        >
          <span v-text="item.name" />
        </v-btn>
        <v-btn
          icon
          @click="change"
        >
          <v-icon>
            mdi-brightness-4
          </v-icon>
        </v-btn>
      </template>

      <v-menu
        v-else
        transition="scale-transition"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            :class="breakpoint ? 'mt-3 pt-0' : ''"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-card
          width="auto"
          height="auto"
        >
          <v-list color="transparent">
            <v-list-item
              v-for="(item, i) in menu"
              :key="i"
              nuxt
              :to="item.ruta"
            >
              <v-list-item-title v-text="item.name" />
            </v-list-item>
            <v-list-item @click="change">
              <v-icon>mdi-brightness-4</v-icon>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isHydrated: false,
      isScrolling: false,
      menu: [{
        name: 'Portafolio',
        ruta: '/portafolio',
        icon: '',
      },
      {
        name: 'Contácto',
        ruta: '/contacto',
        icon: '',
      },
      {
        name: 'SEO',
        ruta: '/seo',
        icon: '',
      },
      {
        name: 'Páginas web',
        ruta: '/paginasweb',
        icon: '',
      },
      ],
      goDark: true,
    };
  },
  computed: {
    setTheme() {
      // eslint-disable-next-line eqeqeq
      if (this.goDark == true) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        /* this.$vuetify.theme.dark = true; */
        return (this.$vuetify.theme.dark = true);
      }
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      /* this.$vuetify.theme.dark = false; */
      return (this.$vuetify.theme.dark = false);
    },
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint.mdAndUp : { mdAndUp: '800', smAndDown: '540' }; // Any constant deault value would do here
    },
  },
  mounted() {
    this.isHydrated = true;
  },
  methods: {
    onScroll() {
      this.isScrolling = (window.pageYOffset
                || document.documentElement.scrollTop || 0) > 25;
    },
    change() {
      if (this.goDark) {
        this.goDark = false;
      } else {
        this.goDark = true;
      }
    },
  },
};
</script>
