<template>
  <v-footer
    class="py-4"
    height="auto"
  >
    <v-container mx-auto>
      <v-layout wrap>
        <v-flex>
          <v-btn
            v-for="icon in icons"
            :key="icon.name"
            :href="icon.src"
            class="text-xs-center ma-4"
            icon
            target="_blank"
          >
            <v-icon>{{ icon.name }}</v-icon>
          </v-btn>
          <v-card-text class="justify-center">
            <strong>Jesús L. B - Full Stack Developer</strong>
            <br> Av 5 Ote 612, Centro 72000, Puebla, Pue. <br>
          </v-card-text>
        </v-flex>
        <v-spacer />
        <v-btn
          class="mr-0 ma-4"
          square
          title="Go to top"
          @click="$vuetify.goTo(0)"
        >
          <v-icon>mdi-chevron-up</v-icon>
        </v-btn>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterInformation',
  data: () => ({
    icons: [
      { name: 'mdi-facebook', src: 'https://www.facebook.com/nodocolmena' },
      { name: 'mdi-email', src: 'mailto:jesus@lumit.mx' },
      { name: 'mdi-whatsapp', src: 'https://api.whatsapp.com/send?phone=522226822869&text=%C2%A1Hola!' },
    ],
  }),
  mounted() {
    // eslint-disable-next-line func-names
    (function () {
        var options = {
            facebook: "104604711157550", // Facebook page ID
            whatsapp: "+522226822869", // WhatsApp number
            call_to_action: "¡Hablémos!", // Call to action
            button_color: "#666666", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
  },
};
</script>

<style>

</style>
