<template>
  <div>
    <Portafolio />
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import Portafolio from './portafoliocards.vue';
// eslint-disable-next-line import/extensions

export default {
  head: {
    // eslint-disable-next-line no-useless-concat
    titleTemplate: '%s - ' + 'JTech',
    title: 'Portafolio de proyectos',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'description', content: 'Estos negocios en Puebla cuentan con sitios web construidos con Vue y material design' },
      { property: 'og:title', content: 'Portafolio de Proyectos de Jesus LB' },
      { property: 'og:description', content: 'Estos negocios en Puebla cuentan con sitios web construidos con Vue y material design' },
      { property: 'og:url', content: 'https://www.jesuslb.com/paginasweb' },
      { property: 'og:type', content: 'website' },
      { name: 'keywords', content: 'nsalzza, caramia, material design puebla, vuetify puebla, vue puebla, vuejs puebla, vue en puebla, desarrollo con vue puebla, vue mexico' },
      { name: 'geo.region', content: 'MX-PUE' },
      { name: 'geo.placename', content: 'Puebla' },
      { name: 'geo.position', content: '19.001559;-98.202893' },
      { name: 'ICBM', content: '19.001559, -98.202893' },
    ],
    link: [
      { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
    ],
  },
  components: {
    Portafolio
  },
};
</script>

<style lang="scss" scoped>

</style>
