<template>
  <div>
    <v-content>
      <v-container>
        <!--  <section-header header="" sub-header="Proyectos Web" text="" /> -->
        <div class="text-center mb-12">
          <h1 class="font-weight-light">
            Proyectos Web 2020
          </h1>
          <v-divider class="mt-5 mb-4 mx-auto" />
        </div>
        <v-row>
          <v-col
            v-for="item in myImages"
            :key="item.url"
            class="d-flex child-flex"
            cols="4"
          >
            <div class="text-center">
              <v-img
                :src="item.url"
                aspect-ratio="1"
                @click.stop="item.dialog = true"
              />
              {{ item.title }}
              <br>
            </div>
            <v-dialog
              v-model="item.dialog"
              max-width="auto"
              max-height="auto"
            >
              <v-img
                v-if="item.dialog"
                height="auto"
                width="auto"
                :src="item.url_2"
              >
                <v-btn
                  color="transparent"
                  dark
                  depressed
                  large
                  fab
                  right
                  top
                  @click="item.dialog = false"
                >
                  <v-icon large>
                    mdi-close
                  </v-icon>
                </v-btn>
              </v-img>
              <v-card>
                <v-card-subtitle>
                  {{ item.dir }}
                </v-card-subtitle>
                <v-card-text>
                  {{ item.desc }}
                </v-card-text>

                <v-divider />

                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                  >
                    <a
                      :href="item.sitio_web"
                      target="_blank"
                    >
                      Ver Página
                    </a>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  data: () => ({
    myImages: [
      {
        url: '/caramia1.jpg',
        url_2: '/caramia.jpg',
        sitio_web: 'https://www.pizzeriacaramia.com/',
        desc: 'Caramia es una pizzería artesanal Poblana única, todos sus insumos son frescos y de la más alta calidad. Cuentan con instalaciones agradables, lujosas y calidas. Su ubicación es perfecta si se quiere conocer el centro de la ciudad.',
        dialog: false,
        title: 'Pizzería Caramía',
        dir: 'Av 2 Ote 202, Centro, 7200 Puebla, Pue.',
      },
      {
        url: '/nsalzza.jpg',
        url_2: '/nsalzza2.jpg',
        sitio_web: 'https://www.nsalzza.com/',
        desc: 'NSalzza es una academia de baile de alta eficiencia que ofrece cursos de salsa, cumbia, bachata, danzón entre otros ritmos de manera estructurada. Organizan eventos constantemente de práctica y para que los alumnos socialicen entre ellos.',
        dialog: false,
        title: 'NSalzza Dance Studio',
        dir: 'Blvrd Circunvalación San Baltazar, 1002 Puebla, Pue.',
      },
      {
        url: '/offerit.jpg',
        url_2: '/offerit2.jpg',
        sitio_web: 'https://offerit-9dc85.web.app/dashboard',
        desc: 'Offerit es una interfaz moderno para interactuar con la red social Steemit. Esta red de blogging en blockchain contiene contenido único y de mucha calidad, ya que se recompensa a los usuarios por publicar.',
        dialog: false,
        title: 'Offerit',
        dir: 'WorldWide',
      },
    ],
    dialog: false,
    globalRef: null,
    isImage: false,
    firstPageGlobal: null,
  }),
};
</script>

<style scoped>

</style>
