// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Muli', sans-serif;
$heading-font-family: 'Muli';

@import "~vuetify/src/styles/styles.sass";