<template>
  <v-app>
    <AppBar />
    <nuxt />
    <FooterInfo />
  </v-app>
</template>

<script>
// eslint-disable-next-line import/extensions
import AppBar from '~/components/AppBar.vue';
// eslint-disable-next-line import/extensions
import FooterInfo from '~/components/FooterInfo.vue';

export default {
  components: {
    AppBar,
    FooterInfo,
  },
  data() {
    return {

    };
  },
};
</script>
