<template>
    <div>
        <section>
            <v-divider class="mt-5 mb-4 mx-auto" />
                <h1 class="overline" style="font-size: 1em !important;">
                    Casos de éxito
                </h1>
                <v-divider class="mt-5 mb-4 mx-auto" />
                <v-container>

                <v-row>
                    <v-col v-for="(propuestas, i) in cards" :key="i" cols="12" class="text-center mb-5" sm="6">
                        <v-card data-aos="fade-up" nuxt outlined hover class="mx-auto">
                            <v-img class="white--text align-center" max-width="auto" :src="propuestas.image" :alt="propuestas.titulo">
                            </v-img>
                            <v-card-title class="display-1">{{ propuestas.titulo }}</v-card-title>
                            <v-card-subtitle class="font-weight-bold text-left">
                                {{ propuestas.subtitulo }}
                            </v-card-subtitle>
                            <v-card-text class="text-left font-overline">
                                <ul style="list-style: ;">
                                    <li v-for="(puntos,i) in propuestas.bullets" :key="i">
                                        {{ puntos }}
                                    </li>
                                </ul>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="primary" dark nuxt :to="propuestas.link">
                                    Explorar
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </section>
    </div>
</template>

<script>
export default {

    data: () => ({
        dialog: false,
        dialog2: false,
        dialog3: false,
        on: true,
        cards: [{
                titulo: 'NSalzza',
                subtitulo: 'Diseño web para Academia de danza NSalzza',
                image: '/card_1.jpg',
                bullets: [
                    'Aplicación Serverless',
                    'Conexión con Firebase realtime database',
                    'SEO',
                    'SEM',
                ],
                link: '/blog/seo-con-vue-spa-+-material-design-+-firebase---caso-de-exito-IC64RldsWvLFJHS9IQW9',
                dialog: false,
            },
            {
                titulo: 'Blockchain',
                subtitulo: 'Consultoría profesional de tecnología blockchain',
                image: '/card_2.jpg',
                bullets: [
                    'Cursos de Ethereum',
                    'Desarrollo de Dapps',
                    'Auditoría de Smart Contracts (Eth)',
                    'Integración de Web3js',
                ],
                link: '/blog/cursos-presenciales-de-ethereum-solidity-y-web3js-S7HOzR1AAgBiZDl1Sj8Q',
                dialog: false,
            }
        ],
    }),
    created() {

    },
    methods: {

    },


};
</script>

<style scoped>

</style>
