<template>
  <div class="text-center">

      <v-container

      >
        <v-row
          class="fill-height mt-10"
          align="center"
          justify="center"
        >
            <v-col align="center">
              <h1
                class="font-weight-bold  mx-auto mt-8 pt-8"
              >
              Desarrollo de sofware a la medida
              </h1>


              <v-btn
                large
                class="mt-4 white--text"
                color="primary"
                href="https://api.whatsapp.com/send?phone=522226822869&text=%C2%A1Hola!"
                target="_blank"
              >
                Análisis gratuito
              </v-btn>
              <v-img
              src="/banner.png"
              width="auto"
              >

              </v-img>
            </v-col>
        </v-row>
      </v-container>
      <Cards />
      <Proceso />
      <Pitch/>
      <BlogPosts/>
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import Cards from '~/pages/Cards.vue';
// eslint-disable-next-line import/extensions
// eslint-disable-next-line import/extensions
import Proceso from '~/pages/Proceso.vue';
import BlogPosts from '~/pages/blogPosts.vue';
import Pitch from '~/pages/pitch.vue';

export default {
    head() {
        return{
        // eslint-disable-next-line no-useless-concat
        titleTemplate: '%s - ' + 'JTech',
        title: 'Consultoría de Software',
  meta: [
    { charset: 'utf-8' },
    { name:'theme-color', content:'#ffffff'},
    { name: 'viewport', content: 'width=device-width, initial-scale=1' },
    { hid: 'description', content: "Servicios de desarrollo de software con vue, nuxt, vuetify, solidity, abap, marketing digital, seo, serp y sem en Puebla" },
    { property: 'og:title', content: "Consultoría de Software"},
    { property: 'og:description', content: "Servicios de desarrollo de software con vue, nuxt, vuetify, solidity, abap, marketing digital, seo, serp y sem en Puebla"},
    { property: 'og:image', content: "https://i.ibb.co/tHdLkCP/Add-a-heading-1.png"},
    { property: 'og:url', content: "https://www.jesuslb.com"},
    { property: 'og:type', content: "website"},
    { name:'keywords', content: 'agencia de software puebla, agencia de marketing puebla, desarrollo de software puebla, consultoria de software puebla, freelancer developer puebla, freelancer vue puebla, freelancer solidity puebla'},
    { name:'geo.region' ,content:'MX-PUE'},
    { name:'geo.placename', content:'Puebla'},
    { name:'geo.position', content:'19.001559;-98.202893'},
    { name:'ICBM', content:'19.001559, -98.202893'},
    {name:'msapplication-TileColor',content:'#ffffff'},
    {name:'msapplication-TileImage', content:'/ms-icon-144x144.png'}
  ],
  link: [
    {rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli&display=swap'},
    {rel:'apple-touch-icon', sizes:'57x57', href:'/apple-icon-57x57.png'},
    {rel:'apple-touch-icon', sizes:'60x60', href:'/apple-icon-60x60.png'},
    {rel:'apple-touch-icon', sizes:'72x72', href:'/apple-icon-72x72.png'},
    {rel:'apple-touch-icon', sizes:'76x76', href:'/apple-icon-76x76.png'},
    {rel:'apple-touch-icon', sizes:'114x114', href:'/apple-icon-114x114.png'},
    {rel:'apple-touch-icon', sizes:'120x120', href:'/apple-icon-120x120.png'},
    {rel:'apple-touch-icon', sizes:'144x144', href:'/apple-icon-144x144.png'},
    {rel:'apple-touch-icon', sizes:'152x152', href:'/apple-icon-152x152.png'},
    {rel:'apple-touch-icon', sizes:'180x180', href:'/apple-icon-180x180.png'},
    {rel:'icon" type="imag/png', sizes:'192x192',  href:'/android-icon-192x192.png'},
    {rel:'icon" type="imag/png', sizes:'32x32', href:'/favicon-32x32.png'},
    {rel:'icon" type="imag/png', sizes:'96x96', href:'/favicon-96x96.png'},
    {rel:'icon" type="imag/png', sizes:'16x16', href:'/favicon-16x16.png'},
    { rel: 'canonical', href: 'https://www.jesuslb.com' }
  ]
        }
    },
  jsonld() {
    return {
"@context": "http://www.schema.org",
  "@type": "ProfessionalService",
  "name": "Páginas web, marketing digital y desarrollo con Vue en Puebla",
  "url": "https://www.jesuslb.com/",
  "sameAs": [
     "https://www.linkedin.com/in/398169174/",
     "https://twitter.com/jtechwebdot",
     "https://www.facebook.com/jtechweb",
     "https://www.instagram.com/jtechweb/",
     "https://medium.com/@jtech"
  ],
  "logo": "https://i.ibb.co/Dpbgs25/fav-j.png",
  "priceRange": "$$$",
  "description": "Servicio de desarrollo de páginas web con Vue, marketing digital, SEO, SERP y SEM en Puebla",
  "address": {
     "@type": "PostalAddress",
     "addressRegion": "Puebla",
     "addressCountry": "Mexico"
  },
   "openingHours": "Mo 07:00-06:00 Tu 07:00-05:00 We 07:00-18:30 Th 07:00-18:30 Fr 07:00-18:30 Sa 07:00-18:30 Su 01:00-01:00"
    };
  },
  components: {
    Cards,
    Proceso,
    BlogPosts,
    Pitch
  },
  computed: {
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint.mdAndUp : { mdAndUp: '800', smAndDown: '540' }; // Any constant deault value would do here
    },
  },

};
</script>

<style scoped>
 h1 {
        font-size: 40px;
    }
    @media (max-width: 1024) {
        h1 {
            font-size: 38px;
        }
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 28px;
        }
    }
    @media (min-width: 420px) {
        h1 {
            font-size: 60px;
        }
    }
 h3 {
        font-size: 15px;
    }
    @media (max-width: 1024) {
        h3 {
            font-size: 38px;
        }
    }
    @media (min-width: 768px) {
        h3 {
            font-size: 28px;
        }
    }
    @media (min-width: 420px) {
        h3 {
            font-size: 60px;
        }
    }
</style>
