<template>
  <div class="lighten-3">
      <v-container
        class="pb-0 pt-0"
        reponsive
      >
              <v-row
          class="fill-height mt-10"
          align="center"
          justify="center"
        >
            <v-col align="center">
              <h1
                class="font-weight-bold  mx-auto mt-8 pt-8"
              >
              Lo que puedes hacer con nosotros.
              </h1>
              </v-col>
            </v-row>
        <v-card
          v-for="item in cards"
          :key="item.titulo"
          data-aos="zoom-in"
          class="pa-5 ma-5"
          outlined
        >
          <v-layout
            row
            wrap
          >
            <v-flex
              md6
              class="pt-5"
            >
              <br>
              <br>
              <h3 class="display-1 text-center">
                {{ item.titulo }}
              </h3>
              <v-col>
                <v-img
                  :src="item.img"
                  max-height="146"
                  max-width="226"
                  class="mx-auto mt-6"
                />
              </v-col>
            </v-flex>
            <v-flex
              md6
              class="pt-5"
            >
              <h3 class="text-left">
                {{ item.sub_1 }}
              </h3>
              <v-spacer />
              <br>
              <p class="text-justify">
                {{ item.text_1 }}
              </p>
              <!-- Segunda columna TODO:Encapsular con V-for objects -->
              <h3 class="text-left">
                {{ item.sub_2 }}
              </h3>
              <v-spacer />
              <br>
              <p class="text-justify">
                {{ item.text_2 }}
              </p>
              <!-- Tercerca columna -->
              <h3 class="text-left">
                {{ item.sub_3 }}
              </h3>
              <v-spacer />
              <br>
              <p class="text-justify">
                {{ item.text_3 }}
              </p>
            </v-flex>
          </v-layout>
        </v-card>
      </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cards: [{
        img: '/elefante.png',
        titulo: 'Consultorías.',
        sub_1: 'Auditoria UI/UX',
        text_1: 'Descubre que tan efectivo es el diseño de tu presentación digital: obtén un análisis detallado de qué puedes mejorar en tu página web y redes sociales. Confía en expertos.',
        sub_2: 'Estrategia de producto',
        text_2: 'Entiende como puedes abordar los problemas desde la perspectiva de tus usuarios, identifica oportunidades y crea productos innovadores que sean escalables visualmente y fáciles de usar.',
        sub_3: 'Metodologías agiles',
        text_3: 'Mi equipo de diseñadores y yo utilizamos metodologías ágiles para desarrollar productos digitales, así aumentamos las probabilidades de entregar un producto asombroso y mantener una comunicación efectiva con nuestros clientes.',
      },
      {
        img: '/woman.png',
        titulo: 'Diseño.',
        sub_1: 'Branding',
        text_1: 'Construimos marcas con personalidad especialmente diseñada para atraer y enamorar a tus usuarios/clientes. Miramos todos los puntos necesarios: Competencias, estrategia de comunicación, implementación, etc.',
        sub_2: 'Diseño UI/UX',
        text_2: 'Creamos experiencias digitales consistentes que basados en las necesidades de tus usuarios/clientes den como resultado interfaces de usuario atractivas y fáciles de usar.',
        sub_3: 'Prototipado',
        text_3: 'Diseñamos prototipos de productos digitales tan clicables que parecerán la versión final. Úsalo para testear con tus usuarios, descubre cosas interesantes y mejóralo.',
      },
      {
        img: '/woman2.png',
        titulo: 'Desarrollo.',
        sub_1: 'Sitios web',
        text_1: 'Diseñamos y desarrollamos sitios web que cuenten una historia apegada a tu marca enfocado en cumplir tus objetivos. Recabar datos o vende un producto/servicio.',
        sub_2: 'Aplicaciones web',
        text_2: 'Diseñamos y desarrollamos aplicaciones web simples y complejas con enfoque en UX y escalabilidad. Construimos software que no apesta y que es fácil de mantener.',
        sub_3: 'Aplicaciones progresivas',
        text_3: 'Diseñamos y desarrollamos aplicaciones web progresivas que funcionan como nativas de Android y iOs, pero sin toda la complejidad de desarrollar para cada dispositivo. Enfoque en mantenimiento y escalabilidad.',
      },
      ],
      isHydrated: false,
    };
  },
  computed: {
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint.mdAndUp : { mdAndUp: '800', smAndDown: '540' }; // Any constant deault value would do here
    },
  },
  mounted() {
    this.isHydrated = true;
  },
};
</script>

<style scoped>
h1 {
        font-size: 40px;
    }
    @media (max-width: 1024) {
        h1 {
            font-size: 38px;
        }
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 28px;
        }
    }
    @media (min-width: 420px) {
        h1 {
            font-size: 60px;
        }
    }
</style>
