<template>
  <div>
                <v-divider class="mt-5 mb-4 mx-auto" />
                <h1 class="overline" style="font-size: 1em !important;">
                    Te ayudamos a superar desafíos con diseño y tecnología.
                </h1>
                <v-divider class="mt-5 mb-4 mx-auto" />
    <v-timeline>
      <v-timeline-item
        v-for="item in timeline"
        :key="item.title"
        large
      >
        <template v-slot:icon>
          <v-avatar>
            <img :src="item.avatar" :alt="item.desc">
          </v-avatar>
        </template>
        <template v-slot:opposite>
          <span>{{ item.text }}</span>
        </template>
        <v-card class="elevation-2 ma-4 pa-4"
        data-aos="fade-right"
v-if="breakpoint"
        >
          <v-card-title
            v-if="breakpoint"
            class="headline"
          >
            {{ item.title }}
          </v-card-title>
          <v-card-text v-if="breakpoint" class="text-justify">
            {{ item.desc }}
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>
<script>
export default {
  data: () => ({
    isHydrated: false,
    timeline: [
      {
        avatar: '/avatar_1.jpeg',
        desc: 'Jenny, clienta que vio resultados despues de implementarle Vuetify en su sitio web.',
        text: '¿Tu página tarda más de 2 segundos en cargar?',
        title: 'Performance',
        desc: 'Para tener un mejor ranking en los resultados de Google, la optimización de tu página es clave. Entre más tarde en cargar, menos probabilidades tendrás de aparecer en los primeros resultados',

      },
      {
        avatar: '/avatar_2.jpeg',
        desc: 'Emprendedora exitosa que vio un gran alcance y conversiones en sus campañas de facebook e instagram.',
        text: '¿Sigues un patrón de diseño efectivo?',
        title: 'Diseño',
        desc: 'Si quieres aumentar las probabilidades de venta, la comunicación debe ser altamente efectiva. Tu página es tu presentación y la forma en que llevarás a tus clientes de la mano. Se recomienda el diseño de un experto para que los elementos ayuden a tu empresa a conseguir más ventas.',

      },
      {
        avatar: '/avatar_3.jpeg',
        desc: 'Diseñadora que incremento su clientela cuando se le desarrollo diseño moderno en su portafolio digital y un CRM.',
        text: '¿Tus redes sociales estan optimizadas?',
        title: 'Community Management',
        desc: 'Crear contenido de valor, incrementar el alcance, generar comunidad y reforzar una marca es algo que se puede hacer con el uso adecuado de redes sociales. Si aún sigues administrando tú mismo las redes de tu negocio, probablemente tengas errores que sólo alguien con experiencia puede ayudarte a resolver.',

      },
    ],
  }),
  computed: {
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint.mdAndUp : { mdAndUp: '800', smAndDown: '540' }; // Any constant deault value would do here
    },
  },
  mounted() {
    this.isHydrated = true;
  },
};
</script>
