<template>
  <div>
    <v-parallax
      src="/yei.jpg"
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          class="text-center"
          cols="12"
        >
          <h1 class="display-2 font-weight-thin mb-4 black--text">
            ¡Moderniza tu empresa!
          </h1>
        </v-col>
      </v-row>
    </v-parallax>
  </div>
</template>
<style scoped>
h1 {
  background: linear-gradient(to right,rgba(255,255,255,0), #80ced6  70%);
  display: inline;
}
</style>
