<template>
  <div>
    <tituloPags />
    <v-content>
      <v-container>
        <v-row class="text-center">
          <v-col class="text-center">
            <v-divider></v-divider>
        <h1>¿Por qué elegirnos?</h1>
          </v-col>
        </v-row>
        <ventajas />
      </v-container>
    </v-content>
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import tituloPags from './tituloPags.vue';
// eslint-disable-next-line import/extensions
import ventajas from './ventajaspags.vue';

export default {
  head: {
    // eslint-disable-next-line no-useless-concat
    titleTemplate: '%s - ' + 'JTech',
    title: 'Web design',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'description', content: 'Creacion de paginas web, landing pages y diseño profesional web para empresas en Puebla' },
      { property: 'og:title', content: 'Web Design' },
      { property: 'og:description', content: 'Creacion de paginas web, landing pages y diseño profesional web para empresas en Puebla' },
      { property: 'og:url', content: 'https://www.jesuslb.com/paginasweb' },
      { property: 'og:type', content: 'website' },
      { name: 'keywords', content: 'paginas web puebla, como hacer una pagina web, creacion de paginas web puebla, desarrollo web puebla, web development puebla' },
      { name: 'geo.region', content: 'MX-PUE' },
      { name: 'geo.placename', content: 'Puebla' },
      { name: 'geo.position', content: '19.001559;-98.202893' },
      { name: 'ICBM', content: '19.001559, -98.202893' },
    ],
    link: [
      { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
    ],
  },
  components: {
    tituloPags,
    ventajas,
  },
};
</script>

<style scoped>

</style>
