<template>
  <v-img
    :height="breakpoint ? '100vh' : '70vh'"
    gradient="to top,rgba(18, 18, 18, .75), rgba(58, 157, 243, .75)"
    src="/hero.jpg"
  >
    <v-container
      fill-height
      fluid
      :px-12="breakpoint"
    >
      <v-row align-center>
          <v-col>
            <h1
              class=" mb-4"
              
            >
              Hola, mi nombre es Jesús López
            </h1>

            <div
              class="mb-4"
            >
              Soy desarrollador Full Stack
            </div>

            <v-responsive
              max-width="600"
              class="mb-5"
            >
Ayudo a negocios a crecer exponencialmente con una página web de alta calidad que cumpla los objetivos de sus empresas. </v-responsive>

            <v-btn
              large
              class="px-5"
              color="primary"
            >
              Hire Me
            </v-btn>
          </v-col>
      </v-row>
    </v-container>
  </v-img>

</template>

<script>
export default {
  data() {
    return {
      isHydrated: false,
    };
  },
  computed: {
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint.mdAndUp : { mdAndUp: '800', smAndDown: '540' }; // Any constant deault value would do here
    },
  },
  mounted() {
    this.isHydrated = true;
  },
};
</script>
