<template>
  <div>
    <v-container
      :pt-5="breakpoint"
      px-0
      pb-0
    >
      <v-row>
        <v-col
          v-for="(feature, i) in features"
          :key="i"
          cols="12"
          md="6"
        >
          <v-row
            class="pa-0 ma-0 text-center text-sm-left"
            justify="center"
            tag="section"
          >
            <v-col>
              <v-icon
                size="56"
                v-text="feature.icon"
              />
            </v-col>
            <v-col
              cols="12"
              md="10"
            >
              <h3
                class=" mb-3 mt-2"
                v-text="feature.header"
              />
              <p
                class=""
                v-text="feature.text"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

export default {

  data: () => ({
    isHydrated: false,
    features: [
      {
        icon: 'mdi-google',
        header: 'SEO',
        text: 'Realizamos poscicionamiento orgánico de tu sitio web en los principales buscadores web: Google, Bing, DuckDuckGo.',
      },
      {
        icon: 'mdi-facebook',
        header: 'SEM',
        text: 'Te brindamos optimización de redes sociales: Facebook, Instagram, Twitter, Yelp.',
      },
      {
        icon: 'mdi-account-multiple',
        header: 'CRM',
        text: 'Implementamos un flujo digital en tu sitio web para que puedas darle seguimiento a tus clientes de manera más sencilla.',
      },
      {
        icon: 'mdi-google-fit',
        header: 'CMS',
        text: 'Creamos administradores y gestores de contenido para páginas web.',
      },
      {
        icon: 'mdi-vuejs',
        header: 'Vuejs',
        text: 'Nuestras páginas utilizan el entorno de programación más potente del mundo. No te dejes engañar por quienes te venden páginas hechas con website builders.',
      },
      {
        icon: 'mdi-google-classroom',
        color: 'purple',
        header: 'Marketing Digital',
        text: 'Creamos y optimizamos campañas de Google Ads, Facebook y Twitter.',
      },
    ],
  }),
  computed: {
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint.mdAndUp : { mdAndUp: '800', smAndDown: '540' }; // Any constant deault value would do here
    },
  },
  mounted() {
    this.isHydrated = true;
  },
};
</script>

<style scoped>

</style>
